@font-face {
    font-family: "Lexend";
    src: url("/assets/fonts/Lexend.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Lexend', 'sans-serif';

    color: #ffff;

    text-align: center;
    background-image: url(./assets/images/background.png);
    background-size: cover;

}

#board {
    width: 540px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    background-size: cover;
    border-radius: 10px;
}

#board div {
    width: 180px;
    height: 180px;
    background-color: lightblue;
    background-size: cover;
    border-radius: 80px;
    align-content: end;
}

#board div img {
    width: 100px;
    height: 100px;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}